.play {
    width: 35%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
}

.playbtn {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.playbtn:hover {
    cursor: pointer;
}

.btnchevron {
    width: 22%;
    height: 100%;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnchevron:hover {
    cursor: pointer;
}

.triangleplay {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #555;
}

@media screen and (max-width:1024px) {
    .playbtn {
        font-size: 12px;
    }
}

@media screen and (max-width:768px) {
    .playbtn {
        font-size: 8px;
    }

    .triangleplay {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid #555;
    }

}

@media screen and (max-width:480px) {
    .iconplay {
        display: none;
    }

    .triangleplay {
        position: absolute;
        top: 20px;
    }
}

@media screen and (max-width:320px) {
    .triangleplay {
        position: absolute;
        top: 14px;
    }
}