.music {
    width: 80%;
    height: 60px;
    margin: auto;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.drag {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.dragicons {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dragname {
    width: 77%;
    height: 100%;
    padding-left: 35px;
    padding-top: 16px;
}

.artist {
    width: 3%;
    height: 100%;
    color: gray;
    padding-top: 13px;
}

.trackk {
    width: 20%;
    height: 100%;
    color: gray;
    display: flex;
    justify-content: space-between;
}

.trackk p {
    padding-top: 13px;
}

.icons {
    width: 59%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:768px) {
    .icons {
        font-size: 12px;
    }

    .dragicons {
        font-size: 12px;
    }

    .artist p {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    .music {
        height: 39px;
    }

    .dragicons {
        font-size: 7px;
    }

    .dragname {
        padding-top: 6px;
        font-size: 12px;
    }

    .artist p {
        font-size: 10px;
    }

    .trackk p {
        padding-top: 13px;
        font-size: 10px;
    }

    .icons {
        font-size: 8px;
    }
}

@media screen and (max-width:320px) {
    .dragicons {
        font-size: 7px;
    }

    .dragname {
        padding-top: 13px;
        font-size: 10px;
    }

    .artist p {
        font-size: 8px;
    }

    .icons {
        font-size: 6px;
    }
}